body{
	margin: 0;
	font-family: "Arial", cursive;
	font-size: 15px;
	color: #333;
	line-height: 1.6;
}
<!-- <div id="contact_3"> -->
* {
	box-sizing: border-box;
}

.container {
	width: 70%;
	max-height: 1200px;
	margin: 0 auto;
	

}
.intro{
	width: 100%;
	height: 100vh;
	background: url("../images/intro.jpg") center no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

}


.intro_inner{
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
}
.intro_title {
	color: #fff;
	font-size: 130px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
}
.intro_title:after {
	content: "";
	width: 60px;
	height: 3px;
	background-color: #fff;
	display: block;
	margin: 60px auto;
}
.intro_suptitle{
	color: #fff;
	font-size: 72px;
	text-align: center;
}
.intro__suptitle{
	font-size: 72px;
	color: white;
	text-align: center;
	margin: 0 auto;
}
.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.header___inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
}
.logo{
	font-size: 30px;
	font-weight: 700;
	color: #fff;

}

.nav{
	font-size: 14px;
	text-transform: uppercase;
}

.nav___link{
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	position: relative;
	color: #fff;
	text-decoration: none;
	transition: color .2s linear;
}

.nav___link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	display: none;
	opacity: 0;
	background-color: black;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	transition: opacity .5s linear;
}
.nav___link:hover{
	color: black;
}
.nav___link:hover:after{
	display: block;
	opacity: 1;
}

.btn{
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	border: 3px solid #fff;
	vertical-align: top;
	padding: 8px 30px;

	transition: background .1s linear, color .1s linear;
}
.btn:hover {
	background-color: #fff;
	color: #333;
}

.section {
	padding: 80px 0;
}

.section_header{
	width: 100%;
	max-width: 950px;
	margin: 0 auto 40px;
	text-align: center;
}

.section_suptitle{
	font-size: 24px;
	color: #333;
}
.section_title {
	font-size: 30px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}

.section_title:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 30px auto;
	background-color: black;
}

.about{
	display: flex;
	justify-content: space-between;
}
.about_item{
	width: 380px;

}
.about_item {
	width: 30%;
	padding: 30px;
	margin: auto;
}
.about_item:hover .about_img img{
	opacity: .3;
}
.about_img {
	background: linear-gradient(to bottom, #f38118, #fce38a);
}

.about_img img{
	display: block;
	transition: opacity .1s linear;
}

.contact_1{
	background-color:#fce38a;
	width: 100%;
	height: 300px;
}
.contact{
	text-align: center;
	font-size: 30px;
	font-weight: 700;
}
.contact_2 {
	text-align: center;
	display: block;
}